.hamburger {
    @apply h-full w-[48px] flex flex-col items-center justify-center;
}

.hamburger-line {
    width: 18px;
    height: 2px;
    background-color: #666;
    margin-bottom: 5px;
}

.hamburger:hover .hamburger-line {
    background-color: #999;
}